body {
    font-family: 'Cormorant Upright', serif;
    font-size: 20px;
    line-height: 32px;
}

#title-page {
    background-image: url("../images/b2.jpg");
}

/* navbar changes */
.nav-wrapper,
.page-footer {
    background-color: #87b4be;
}

.parallax-container {
    height: 500px;
}

#about-pic {
    margin: 10px;
    float: left;
}

/* caption adjustments */
.paraCap {
    position: absolute;
    top: 25%;
}

/* Intro Caption */
#title {
    font-size: 58px;
}

.section {
    background-color: #f7eeea;
}

.t-box {
    border-top: solid #85c8c8 15px;
    border-left: solid #85c8c8 15px;
    border-radius: 5px;
}

.b-box {
    border-top: solid #85c8c8 15px;
    border-right: solid #85c8c8 15px;
    border-radius: 5px;
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    background-color: #87b4be;
    /* Set a background color */

}

#home {
    margin-top: 20%;
    /* margin: 0 auto 0 auto; */
}

#enter {
    background-color: #87b4be;
}


@media screen and (min-width: 705px) and (max-width: 1260px) {

    .collab-back {
        height: 300px;
        width: 275px
    }

    #collab-1p {
        height: 200px;
        width: 275px;
        top: 10px;
        right: -10px;
    }

    #collab-2p {
        height: 200px;
        width: 275px;
        top: 10px;
        left: -10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {

    .collab-back {
        height: 300px;
        width: 250px
    }

    #collab-1p {
        margin-right: 20px;
        height: 200px;
        width: 250px;

        top: 10px;
        right: -10px;
    }

    #collab-2p {
        height: 200px;
        width: 250px;
        top: 10px;
        left: -10px;
    }
}




@media screen and (min-width: 300px) and (max-width: 475px) {
    #about-pic {
        margin-left: 25px;
        float: none;
    }

    .collab-back {
        height: 300px;
        width: 275px
    }

    #collab-1p {
        height: 200px;
        width: 275px;
        top: 10px;
        right: -10px;
    }

    #collab-2p {
        height: 200px;
        width: 275px;
        top: 10px;
        left: -10px;
    }

}